.About_me{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

#text{
    width: 100%;
    margin-bottom: 60px;
}

#list{
    display: flex;
    flex-direction: row;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

#skills{ 
    width: 50%; 
    margin: 5px;
    padding: 5px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.3);
}
#card{
    margin: 5px;
    padding: 5px;
    border: 1px solid #222222;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}