.Projects{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    flex-direction: row;
}

.card{
    width: 90vw;
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 10px;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.3);
    transition: 0.3s ease-in-out;
}

.card:hover{
    transform: scale(1.04);
}

@media (max-width: 600px){
    .card{
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

}