@import url('https://fonts.googleapis.com/css2?family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body::-webkit-scrollbar{
    display: none;
}

body{
    height: 100vh;
    width: 100vw;
    color: #fff;
    background-color: black;
    flex-direction: column;
    font-family: "SUSE mono";
}
header{
    background-color: rgba(255, 255, 255, 0.3);
}
nav{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 100vw;
    padding: 5px;
    align-items: center;
}

#Text10{
    color: transparent;
}

.mouvement{
    position: relative;
    left:33%;
    background-color: transparent;
    color: #fff;
    border: transparent;
    cursor: pointer;
    border-radius: 5px;
}

.mouvement:hover{
    position: relative;
    left:33%;
    background-color: rgba(255, 255, 255, 0.5);
    color: #fff;
    border: #fff;
}

main{
    top: 15vh;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

#home{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    flex-direction: row;
}

.Move{
    top: 20vh;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}
footer{
    position: relative;
    top: 2%;
    right: 60vh;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
    height: 40px;
    width: 50px;
    border-radius: 5px 5px 0px 0px;
    text-align: center;
    align-content: center;
    transition: 0.5s ease;
    
}

footer > img{
    transition: 1s ease;
    display: none;
}

footer:hover{
    position: relative;
    top: 5px;
    right: 50%;
    transition: 0.5s ease;
}

footer:hover > img{
    transition: 0.5s ease;
    display: block;
}

.back-video{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100vw;
}

@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}

h1{
    font-size: 80px;
}

@media (max-width: 850px){
    main{
    top: 15vh;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
}

@media (max-width: 940px){
    .mouvement{
        left:25%
    }
    .mouvement:hover{
    position: relative;
    left:25%;
    background-color: rgba(255, 255, 255, 0.5);
    color: #fff;
    border: #fff;
}
}

@media (max-width: 500px){
    nav > h2{
    display: none;
}
    .mouvement{
        left:45%
    }
    .mouvement:hover{
    position: relative;
    left:45%;
    background-color: rgba(255, 255, 255, 0.5);
    color: #fff;
    border: #fff;
}
}
